<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/motorbikes">
        Home
      </a>
      <a class="navbar-brand" href="/motorbikes/new">
        New Moped (Sike)
      </a>
    </div>
  </div>
</nav>
